<form method="post" action="{{ path('types_cuisine_delete', {'id': types_cuisine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ types_cuisine.id) }}">
    <button class="btn">Delete</button>
</form>
