{% extends 'base.html.twig' %}

{% block title %}Edit TypesCuisine{% endblock %}

{% block body %}
    <h1>Edit TypesCuisine</h1>

    {{ include('types_cuisine/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('types_cuisine_index') }}">back to list</a>

    {{ include('types_cuisine/_delete_form.html.twig') }}
{% endblock %}
