{% extends 'base.html.twig' %}

{% block title %}TypesCuisine index{% endblock %}

{% block body %}
    <h1>TypesCuisine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for types_cuisine in types_cuisines %}
            <tr>
                <td>{{ types_cuisine.id }}</td>
                <td>{{ types_cuisine.nom }}</td>
                <td>
                    <a href="{{ path('types_cuisine_show', {'id': types_cuisine.id}) }}">show</a>
                    <a href="{{ path('types_cuisine_edit', {'id': types_cuisine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('types_cuisine_new') }}">Create new</a>
{% endblock %}
