{% extends 'base.html.twig' %}

{% block title %}New TypesCuisine{% endblock %}

{% block body %}
    <h1>Create new TypesCuisine</h1>

    {{ include('types_cuisine/_form.html.twig') }}

    <a href="{{ path('types_cuisine_index') }}">back to list</a>
{% endblock %}
