{% extends 'base.html.twig' %}

{% block title %}TypesCuisine{% endblock %}

{% block body %}
    <h1>TypesCuisine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ types_cuisine.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ types_cuisine.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('types_cuisine_index') }}">back to list</a>

    <a href="{{ path('types_cuisine_edit', {'id': types_cuisine.id}) }}">edit</a>

    {{ include('types_cuisine/_delete_form.html.twig') }}
{% endblock %}
