$ligth-blue: #00A8E8;
$dark-blue: #003459;

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', cursive;
    overflow-x: hidden;
    
}

body{
    z-index: -10000;
}
// HEADER //
header{
    overflow-y: hidden;
    color: white;
    z-index: 0;
    position: relative;
    //height: 100vh;
    .header{
        z-index: 10;
        padding: 5px 10% ;
        background-color: $ligth-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10%;
        .logo{
            display: flex;
            align-items: center;
            h1{
                font-size: 24px;
            }
            img{
                height: 40px;
                width: auto;
            }
        }

        i{
            font-size: 30px;
        }
    }
    .search-header{
        height: 30%;
        background-color:$ligth-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        .input-main{
            z-index: 100;
            
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            input{
                padding-left: 5px;
                border: none;
                height: 33px;
                width: 75%;
                &:focus-visible{
                    outline: 1px solid $dark-blue;
                }
            }
            button{
                cursor: pointer;
                height: 33px;
                width: 30%;
                border: none;
            }
        }
        h2{
            font-size: 24px;
            text-align: center;
            width: 15%;
            font-weight: bold;
        }
    }
    .diag-header{
        z-index: -100;
        position: absolute;
        left: 0;
        top: 0;
        width: 150%;
        height: 50%;
        background-color: $ligth-blue;
        transform: skewY(-7deg);
    }
    .background{
        position: relative;
        z-index: -1000;
        background-image: url(../images/site/header-background.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 60%;
    }
}

.btn-outline-secondary{
    background-color: $dark-blue;
    color: white;
    border-radius: none;
}

@media only screen and ( max-width : 1200px ){
    header{
        .header{
            .logo{
                h1{
                    font-size: 18px;
                }
                img{
                    height: 30px;
                }
            }
            i{
                font-size: 20px;
            }
        }
        .search-header{
            h2{
                font-size: 18px;
                width: 20%;
            }
            .input-main{
                width: 60%;
           }
        }
    }
}


@media only screen and ( max-width : 600px ){
    header{
        .header{
            .logo{
                h1{
                    font-size: 18px;
                }
                img{
                    height: 30px;
                }
            }
            i{
                font-size: 20px;
            }
        }
        .search-header{
            h2{
                font-size: 18px;
                width: 40%;
            }
            .input-main{
                width: 80%;
           }
        }
    }
}

// 1 CONTENT //

.content-1{
    padding: 3% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    h3{
        margin-top:2%;
        margin-bottom:1% ;
        font-size: 24px;
        color: $dark-blue;
    }
    h2{
        margin-bottom: 5%;
        font-size: 36px;
        color: $ligth-blue;
    }
    .steps{
        width: 80%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .step{
            height: 100%;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 80px;
                color: $ligth-blue;
            }
            h3{
                color: black;
            }
            p{
            
                text-align: center;
            }
        }
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            width: 5%;
        }
    }
}
@media only screen and ( max-width : 800px ){
    .content-1{
        .steps{
            height: auto;
            flex-direction: column;
            .step{
                padding: 5% 0;
            }
            i{
                display: none;
            }
        }
       
    }
}

// CARD //

.content-2{
    padding: 5% 0;
    background-image: url(assets/background-cards.png);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    .cards{
        padding:5% 0;
        width: 80%;
        height: 50vh;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       .card
       {
        box-shadow: rgb(0, 0, 0) 0px 20px 20px -10px;
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .card-img{
            position: relative;
            width: 100%;
            height: 60%;
            overflow: hidden;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .gradient-card{
                position: absolute;
                left: 0;
                top: 0;
                background:linear-gradient(to bottom, rgba(255, 255, 255, 0.288),#00000070);

                width: 100%;
                height: 100%;
            }
        }
        .card-content{
            background-color: rgba($ligth-blue,0.75);
            height: 40%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            color: white;
        }
        
        .price{
            display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        }
       }
    }

}

@media only screen and ( max-width : 1400px ){
    .content-2{
        .cards{
            padding:5% 0;
            width: 80%;
            height: 50vh;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: space-between;
           .card
           {
            box-shadow: rgb(0, 0, 0) 0px 20px 20px -10px;
            height: 100%;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
           }
        }  
    }
    
}

@media only screen and ( max-width : 1200px ){
    .content-2{
        .cards{
            padding:5% 0;
            height: 100%;
            width: 80%;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-between;
           .card
           {
           margin: 3% 0;
            box-shadow: rgb(0, 0, 0) 0px 20px 20px -10px;
            height: 50vh;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
           }
        }  
    }
    
}

@media only screen and ( max-width : 800px ){
    .content-2{
        .cards{
           .card
           {
            width: 90%;
           }
        }  
    }
    
}

// FOOTER //

footer{
    background-color: $dark-blue;
    color: white;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-footer{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .social{
        i{

            font-size: 35px;
            padding: 0 2%;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .mention{
        p{
         padding: 2% 0;
        }
       
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
    }
}


@media only screen and ( max-width : 830px ){
   footer{
       flex-direction: column;
       .mention{
           padding: 4% 0;
       }
       .logo-footer{
           padding: 4% 0;
       }
       .social{
           padding: 4% 0;
       }
   }

}



// RECHERCHE // 
.top{
    z-index: 10;
    padding: 5px 10% ;
    background-color: $ligth-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    color: white;
    .logo{
        display: flex;
        align-items: center;
        h1{
            font-size: 20px;
        }
        img{
            height: 40px;
            width: auto;
        }
    }
    i{
        font-size: 24px;
    }
}
.body-results{
   
    display: flex;
    
    .search-main{
        flex: 1;
        background-image: url(assets/search-main.jpg);
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        height: 90vh;
    }


    .results{
        overflow-y: hidden;
        flex: 3;
        background-color: white;
        width: 100%;

        .input-search{   
            margin-top: 2%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            //height: 5%;
            input{
                padding-left: 5px;
                border: solid 1px black;
                height: 33px;
                width: 25%;
                &:focus-visible{
                    outline: 1px solid $dark-blue;
                }
            }
            button{
                
                cursor: pointer;
                height: 36px;
                width: 10%;
                border: none;
            }
        }

        .nbr-results{
            margin: 2% 5% ;
            display: flex;
            flex-direction: row;
            align-items: center;
            i{
                color: green;
            }
            h3{
                margin-left: 1%;
            }

        }
        .result-search{
            box-shadow: rgba(0, 0, 0, 0.555) 0px 20px 20px -10px;
            margin: 3% 5%;
            width: 80%;
            height: 18vh;
            background-color: whitesmoke;
            display: flex;
        }
        img{
            flex: 2;
            object-fit: cover;
        }
        .content-result-search
        {
            color:rgb(43, 43, 43);
            padding: 0 2%;
            flex: 4;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
            h4{
                color: $ligth-blue;
                font-size: 20px;
            }
            .more-content{
                display: flex;
                flex-direction: row;
                i{
                    padding-right: 3%;
                }

            }
        }
    }
}

// Formulaires //

form{
    width: 90%;
    margin: auto;
}

.reservation_form{
    display: flex;
    flex-direction: column;

    form[name="reservations"]
    {
        width: 100%;
    }
    .mb-3{
        display: flex;
        flex-direction: column;
    }
}

// FULL CONTENT //

.full-content{
    .resto-img-1{
        position: relative;
        overflow-y: hidden;
        width: 100%;
        height: 40vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          
            
        }
        h1{
            width: 100%;
            position: absolute; /* postulat de départ */
            top: 50%; left: 50%; /* à 50%/50% du parent référent */
            transform: translate(-50%, -50%);
            font-size: 60px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Italianno', cursive;
            color: white; 
            text-shadow: black 5px 5px 5px;
        }
    }
    .menu{
        margin: 3% 0;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a{
            font-size: 50px;
            color: $ligth-blue;
            text-decoration:none; 
        }
        p{
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: $ligth-blue;
        }
    }

    .story-information{
        margin: 5% 10%;
        display: flex;

        .story{
            padding: 1%;
            border-bottom: rgb(247, 247, 247) solid 1px ;
            border-top: rgb(247, 247, 247) solid 1px  ;
            border-left: rgb(235, 235, 235) solid 1px ;
            border-right: rgb(235, 235, 235) solid 1px ;
            flex:2;
            h3{
                text-align: center;
                margin-bottom: 5%;
            }
            p{
                text-align: justify;
            }
        }
        .information-map{
            padding: 0 1% 1% 1% ;
            flex:3;
            display: flex;
            flex-direction: column;
            .map{
                flex:1;
                background-image: url(assets/map.png);
                background-position: center;
                background-size: contain;
                width: 100%;
                height: 100%;
            }
            .information{
                background-color: red;
                flex:1;
            }
        }
    }

    
    .galery{
        margin: 0 10%;
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        
        li {
            height: 40vh;
            flex-grow: 1;
        }
        
        li:last-child {
            flex-grow: 10;
        }
        
        img {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
        @media (max-aspect-ratio: 1/1) {
            li {
            height: 30vh;
            }
        }
        
        @media (max-height: 480px) {
            li {
            height: 80vh;
            }
        }
        
        @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
            ul {
            flex-direction: row;
            }
        
            li {
            height: auto;
            width: 100%;
            }
            img {
            width: 100%;
            max-height: 75vh;
            min-width: 0;
            }
        }
    }

    // BASIC

    body{
        font-family: sans-serif;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 2vmin;
    }

    li {
        height: 40vh;
        flex-grow: 1;
        margin: 2vmin;
    }

    li:last-child {
        // There's no science in using "10" here. In all my testing, this delivered the best results.
        flex-grow: 10;
    }

    img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
        border-radius: 1vmin;
    }

    // ADVANCED

    // Portrait

    @media (max-aspect-ratio: 1/1) {
        li {
            height: 30vh;
        }
    }

    // Short screens

    @media (max-height: 480px) {
        li {
            height: 80vh;
        }
    }

    // Smaller screens in portrait

    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
        ul {
            flex-direction: row;
        }

        li {
            height: auto;
            width: 100%;
        }
        img {
            width: 100%;
            max-height: 75vh;
            min-width: 0;
        }
    }
}