@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', cursive;
  overflow-x: hidden; }

body {
  z-index: -10000; }

header {
  overflow-y: hidden;
  color: white;
  z-index: 0;
  position: relative; }
  header .header {
    z-index: 10;
    padding: 5px 10%;
    background-color: #00A8E8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%; }
    header .header .logo {
      display: flex;
      align-items: center; }
      header .header .logo h1 {
        font-size: 24px; }
      header .header .logo img {
        height: 40px;
        width: auto; }
    header .header i {
      font-size: 30px; }
  header .search-header {
    height: 30%;
    background-color: #00A8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    header .search-header .input-main {
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%; }
      header .search-header .input-main input {
        padding-left: 5px;
        border: none;
        height: 33px;
        width: 75%; }
        header .search-header .input-main input:focus-visible {
          outline: 1px solid #003459; }
      header .search-header .input-main button {
        cursor: pointer;
        height: 33px;
        width: 30%;
        border: none; }
    header .search-header h2 {
      font-size: 24px;
      text-align: center;
      width: 15%;
      font-weight: bold; }
  header .diag-header {
    z-index: -100;
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    height: 50%;
    background-color: #00A8E8;
    transform: skewY(-7deg); }
  header .background {
    position: relative;
    z-index: -1000;
    background-image: url(../images/site/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 60%; }

.btn-outline-secondary {
  background-color: #003459;
  color: white;
  border-radius: none; }

@media only screen and (max-width: 1200px) {
  header .header .logo h1 {
    font-size: 18px; }
  header .header .logo img {
    height: 30px; }
  header .header i {
    font-size: 20px; }
  header .search-header h2 {
    font-size: 18px;
    width: 20%; }
  header .search-header .input-main {
    width: 60%; } }
@media only screen and (max-width: 600px) {
  header .header .logo h1 {
    font-size: 18px; }
  header .header .logo img {
    height: 30px; }
  header .header i {
    font-size: 20px; }
  header .search-header h2 {
    font-size: 18px;
    width: 40%; }
  header .search-header .input-main {
    width: 80%; } }
.content-1 {
  padding: 3% 0;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .content-1 h3 {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 24px;
    color: #003459; }
  .content-1 h2 {
    margin-bottom: 5%;
    font-size: 36px;
    color: #00A8E8; }
  .content-1 .steps {
    width: 80%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    .content-1 .steps .step {
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column; }
      .content-1 .steps .step i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 80px;
        color: #00A8E8; }
      .content-1 .steps .step h3 {
        color: black; }
      .content-1 .steps .step p {
        text-align: center; }
    .content-1 .steps i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      width: 5%; }

@media only screen and (max-width: 800px) {
  .content-1 .steps {
    height: auto;
    flex-direction: column; }
    .content-1 .steps .step {
      padding: 5% 0; }
    .content-1 .steps i {
      display: none; } }
.content-2 {
  padding: 5% 0;
  background-image: url(assets/background-cards.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center; }
  .content-2 .cards {
    padding: 5% 0;
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .content-2 .cards .card {
      box-shadow: black 0px 20px 20px -10px;
      height: 100%;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; }
      .content-2 .cards .card .card-img {
        position: relative;
        width: 100%;
        height: 60%;
        overflow: hidden; }
        .content-2 .cards .card .card-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .content-2 .cards .card .card-img .gradient-card {
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0.288), #00000070);
          width: 100%;
          height: 100%; }
      .content-2 .cards .card .card-content {
        background-color: rgba(0, 168, 232, 0.75);
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: white; }
      .content-2 .cards .card .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }

@media only screen and (max-width: 1400px) {
  .content-2 .cards {
    padding: 5% 0;
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .content-2 .cards .card {
      box-shadow: black 0px 20px 20px -10px;
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; } }
@media only screen and (max-width: 1200px) {
  .content-2 .cards {
    padding: 5% 0;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .content-2 .cards .card {
      margin: 3% 0;
      box-shadow: black 0px 20px 20px -10px;
      height: 50vh;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; } }
@media only screen and (max-width: 800px) {
  .content-2 .cards .card {
    width: 90%; } }
footer {
  background-color: #003459;
  color: white;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .logo-footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; }
    footer .social i {
      font-size: 35px;
      padding: 0 2%; }
  footer .mention {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 1; }
    footer .mention p {
      padding: 2% 0; }

@media only screen and (max-width: 830px) {
  footer {
    flex-direction: column; }
    footer .mention {
      padding: 4% 0; }
    footer .logo-footer {
      padding: 4% 0; }
    footer .social {
      padding: 4% 0; } }
.top {
  z-index: 10;
  padding: 5px 10%;
  background-color: #00A8E8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  color: white; }
  .top .logo {
    display: flex;
    align-items: center; }
    .top .logo h1 {
      font-size: 20px; }
    .top .logo img {
      height: 40px;
      width: auto; }
  .top i {
    font-size: 24px; }

.body-results {
  display: flex; }
  .body-results .search-main {
    flex: 1;
    background-image: url(assets/search-main.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 90vh; }
  .body-results .results {
    overflow-y: hidden;
    flex: 3;
    background-color: white;
    width: 100%; }
    .body-results .results .input-search {
      margin-top: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .body-results .results .input-search input {
        padding-left: 5px;
        border: solid 1px black;
        height: 33px;
        width: 25%; }
        .body-results .results .input-search input:focus-visible {
          outline: 1px solid #003459; }
      .body-results .results .input-search button {
        cursor: pointer;
        height: 36px;
        width: 10%;
        border: none; }
    .body-results .results .nbr-results {
      margin: 2% 5%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .body-results .results .nbr-results i {
        color: green; }
      .body-results .results .nbr-results h3 {
        margin-left: 1%; }
    .body-results .results .result-search {
      box-shadow: rgba(0, 0, 0, 0.555) 0px 20px 20px -10px;
      margin: 3% 5%;
      width: 80%;
      height: 18vh;
      background-color: whitesmoke;
      display: flex; }
    .body-results .results img {
      flex: 2;
      object-fit: cover; }
    .body-results .results .content-result-search {
      color: #2b2b2b;
      padding: 0 2%;
      flex: 4;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly; }
      .body-results .results .content-result-search h4 {
        color: #00A8E8;
        font-size: 20px; }
      .body-results .results .content-result-search .more-content {
        display: flex;
        flex-direction: row; }
        .body-results .results .content-result-search .more-content i {
          padding-right: 3%; }

form {
  width: 90%;
  margin: auto; }

.reservation_form {
  display: flex;
  flex-direction: column; }
  .reservation_form form[name="reservations"] {
    width: 100%; }
  .reservation_form .mb-3 {
    display: flex;
    flex-direction: column; }

.full-content .resto-img-1 {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 40vh; }
  .full-content .resto-img-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .full-content .resto-img-1 h1 {
    width: 100%;
    position: absolute;
    /* postulat de départ */
    top: 50%;
    left: 50%;
    /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Italianno', cursive;
    color: white;
    text-shadow: black 5px 5px 5px; }
.full-content .menu {
  margin: 3% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .full-content .menu a {
    font-size: 50px;
    color: #00A8E8;
    text-decoration: none; }
  .full-content .menu p {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00A8E8; }
.full-content .story-information {
  margin: 5% 10%;
  display: flex; }
  .full-content .story-information .story {
    padding: 1%;
    border-bottom: #f7f7f7 solid 1px;
    border-top: #f7f7f7 solid 1px;
    border-left: #ebebeb solid 1px;
    border-right: #ebebeb solid 1px;
    flex: 2; }
    .full-content .story-information .story h3 {
      text-align: center;
      margin-bottom: 5%; }
    .full-content .story-information .story p {
      text-align: justify; }
  .full-content .story-information .information-map {
    padding: 0 1% 1% 1%;
    flex: 3;
    display: flex;
    flex-direction: column; }
    .full-content .story-information .information-map .map {
      flex: 1;
      background-image: url(assets/map.png);
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 100%; }
    .full-content .story-information .information-map .information {
      background-color: red;
      flex: 1; }
.full-content .galery {
  margin: 0 10%; }
  .full-content .galery ul {
    display: flex;
    flex-wrap: wrap; }
  .full-content .galery li {
    height: 40vh;
    flex-grow: 1; }
  .full-content .galery li:last-child {
    flex-grow: 10; }
  .full-content .galery img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom; }
  @media (max-aspect-ratio: 1 / 1) {
    .full-content .galery li {
      height: 30vh; } }
  @media (max-height: 480px) {
    .full-content .galery li {
      height: 80vh; } }
  @media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
    .full-content .galery ul {
      flex-direction: row; }
    .full-content .galery li {
      height: auto;
      width: 100%; }
    .full-content .galery img {
      width: 100%;
      max-height: 75vh;
      min-width: 0; } }
.full-content body {
  font-family: sans-serif; }
.full-content ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2vmin; }
.full-content li {
  height: 40vh;
  flex-grow: 1;
  margin: 2vmin; }
.full-content li:last-child {
  flex-grow: 10; }
.full-content img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1vmin; }
@media (max-aspect-ratio: 1 / 1) {
  .full-content li {
    height: 30vh; } }
@media (max-height: 480px) {
  .full-content li {
    height: 80vh; } }
@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
  .full-content ul {
    flex-direction: row; }
  .full-content li {
    height: auto;
    width: 100%; }
  .full-content img {
    width: 100%;
    max-height: 75vh;
    min-width: 0; } }

/*# sourceMappingURL=main.css.map */
