<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <script src="https://kit.fontawesome.com/501ca7ea91.js" crossorigin="anonymous"></script>
            <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}

        {% block javascripts_head %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script rel="script" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    </head>
    <body>
    <header>
        {% block header %}
            {% include 'parts/header.html.twig' %}
        {% endblock %}
    </header>

    {% block body %}{% endblock %}

    {% block footer %}
        {% include 'parts/footer.html.twig' %}
    {% endblock %}

    {% block javascripts %}{% endblock %}

    </body>
</html>
