{% extends 'base.html.twig' %}

{% block title %}Ma place !{% endblock %}

{% block stylesheets %}
{#  réécriture de tous le block stylesheet pour applique le 100vh seuleument à la page home  #}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/501ca7ea91.js" crossorigin="anonymous"></script>
    <link href="{{ asset('assets/css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



    {% block header %}
        {{ parent() }}
        <div class="search-header">
            <h2>C'est le moment de réserver</h2>
            <div class="input-main">
                <input type="text" class="form-control" placeholder="Nom de la ville" aria-label="Nom de la ville" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="window.location='etablissements'">Rechercher</button>
            </div>
        </div>
        <div class="diag-header"></div>
        <div class="background"></div>
    {% endblock %}

    {% block body%}
    <div class="content-1">
        <h3>Comment ça marche ?</h3>
        <h2>C'est très simple ! </h2>
        <div class="steps">
            <div class="step">
                <i class="fas fa-search-location"></i>
                <h3>Trouver</h3>
                <p>Trouver le restaurant</p>
            </div>
            <i class="fas fa-angle-right"></i>
            <div class="step">
                <i class="fas fa-calendar-alt"></i>
                <h3>Réservation</h3>
                <p>Réserver en ligne</p>
            </div>
            <i class="fas fa-angle-right"></i>
            <div class="step">
                <i class="fas fa-utensils"></i>
                <h3>Restaurant</h3>
                <p>Profiter du restaurant</p>
            </div>
        </div>
    </div>
    <div class="content-2">
        <div class="cards">
            <div class="card">
                <div class="card-img">
                    <img src="{{ asset('assets/images/site/card-1.jpg') }}" alt="">
                    <div class="gradient-card"></div>
                </div>
                <div class="card-content">
                    <div class="price">
                        <i class="fas fa-euro-sign"></i>
                        <i class="fas fa-euro-sign"></i>
                        <i class="fas fa-euro-sign"></i>
                    </div>
                    <h3>Pekin nemspress</h3>
                    <p>(Sushi,nouille,Chat)</p>
                    <p>69 avenue jaune, Paris, 75000</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="{{ asset('assets/images/site/card-2.jpg') }}" alt="">
                    <div class="gradient-card"></div>
                </div>
                <div class="card-content">
                    <div class="price">
                        <i class="fas fa-euro-sign"></i>
                        <i class="fas fa-euro-sign"></i>
                        <i class="fas fa-euro-sign"></i>
                    </div>
                    <h3>Pekin nemspress</h3>
                    <p>(Sushi,nouille,Chat)</p>
                    <p>69 avenue jaune, Paris, 75000</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="{{ asset('assets/images/site/card-3.jpg') }}" alt="">
                    <div class="gradient-card"></div>
                </div>
                <div class="card-content">
                    <div class="price">
                        <i class="fas fa-euro-sign"></i>
                        <i class="fas fa-euro-sign"></i>
                        <i class="fas fa-euro-sign"></i>
                    </div>
                    <h3>Pekin nemspress</h3>
                    <p>(Sushi,nouille,Chat)</p>
                    <p>69 avenue jaune, Paris, 75000</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

