{% extends 'base.html.twig' %}

{% block title %}Reservations index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
    <h1>Reservations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Tel</th>
                <th>HoraireDemande</th>
                <th>PlacesDemandees</th>
                <th>Statut</th>
                <th>Etablissement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.prenom }}</td>
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.tel }}</td>
                <td>{{ reservation.horaireDemande ? reservation.horaireDemande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.placesDemandees }}</td>
                <td>{{ reservation.statut }}</td>
                <td>{{ reservation.etablissement }}</td>
                <td>
                    <a href="{{ path('reservations_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservations_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservations_new') }}">Create new</a>
{% endblock %}
