{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Reservations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ reservation.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reservation.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ reservation.tel }}</td>
            </tr>
            <tr>
                <th>HoraireDemande</th>
                <td>{{ reservation.horaireDemande ? reservation.horaireDemande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PlacesDemandees</th>
                <td>{{ reservation.placesDemandees }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ reservation.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservations_index') }}">back to list</a>

    <a href="{{ path('reservations_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservations/_delete_form.html.twig') }}
{% endblock %}
