<form method="post" action="{{ path('etablissements_delete', {'id': etablissement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etablissement.id) }}">
    <button class="btn">Delete</button>
</form>
