{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_row(form.placesTotales) }}
    {{ form_row(form.reservationPossible) }}
    {{ form_row(form.adresseLigne1) }}
    {{ form_row(form.codePostal) }}
    {{ form_row(form.ville) }}
    <h2>Les images du restaurant !</h2>
    <div class="border-1">
        <ul id="images-fields-list"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.images|length }}">
            {% for emailField in form.images %}
                <li>
                    {{ form_errors(emailField) }}
                    {{ form_widget(emailField) }}
                </li>
            {% endfor %}
        </ul>
    </div>
<!-- appliquer du css sur la div ci-dessous car faire un button soumet le formulaire même si c'est pas ce qu'on lui demande  -->
<div class="add_image_button" id="image_add" data-list-selector="#images-fields-list">ajouter une image</div>
<br>
    {{ form_row(form.Valider) }}

    {{ form_widget(form._token) }}  {# a rajouter pour valider le formulaire et qui sert a être sur que les nouvelles images (les divs générées en js) ont étés ajoutées via le bouton d'ajout #}


{{ form_end(form, {'render_rest': false}) }}