{% extends 'base.html.twig' %}

{% block title %}Edit Etablissements{% endblock %}

{% block body %}
    <h1>Edit Etablissements</h1>

    {{ include('etablissements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('etablissements_index') }}">back to list</a>

    {{ include('etablissements/_delete_form.html.twig') }}
{% endblock %}
