{% extends 'base.html.twig' %}

{% block title %}Etablissements index{% endblock %}

{% block body %}
{#
    {% for etablissement in etablissements  %}
        {% set reservationsArray = etablissement.reservations.getvalues %}
        {{ dump(reservationsArray) }}

        {% if reservationsArray is not empty %}
            {{ dump(reservationsArray) }}
            {% for reservation in reservationsArray %}

            {% endfor %}
        {% else %}
            {{ dump(etablissement.placesTotales) }}
        {% endif %}
    {% endfor %}
#}

    <div class="body-results">

        <div class="search-main">
            {{ include('search_bar/_form.html.twig') }}


        </div>

        <div class="results">

            <div class="input-search">
                <input type="text" class="form-control" placeholder="Nom de la ville" aria-label="Nom de la ville" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Rechercher</button>
            </div>

            <div class="nbr-results">
                <i class="fas fa-circle"></i>
                <h3>{{ etablissements|length }} résultats</h3>
            </div>


            {#
            Requête dql avec ajout d'un champ select pour les places demandées
            Donc la requête retourne un tableau et c'est pourquoi on utilise l'indice 0 pour l'affichage dans la boucle
            #}
            {% set i=0 %}
            {% for etablissement in etablissements %}


{#                {{ dump(etablissement.images.getValues) }}#}

                {#         recuperation premiere image de l'établissement           #}
{#                {% if etablissement.images.first() %}#}
{#                    {{ dump (etablissement.images.first().uniqId) }}#}
{#                {% endif %}#}


                <div class="result-search" onclick="window.location='{{ path('etablissements_show', {'id' : etablissement[0].id}) }}'">

                    <img{% if etablissement[0].images.first() %}
                            src="{{ asset('uploads/imagesResto/'~etablissement[0].images.first().uniqId)}}"
                         {% endif%}
                            alt="">
                    <div class="content-result-search">
                        <h4>{{ etablissement[0].nom }} - {{ etablissement[0].id }}</h4>
                        {#     types                   #}
                        <p>
                        {%  for type in etablissement[0].typescuisines %}
                        {{ type.nom }}
                        {% if not loop.last %}
                            -
                        {% endif %}
                        {% endfor %}
                        </p>
                        {#     tags                   #}
                        <p>
                        {%  for tag in etablissement[0].tags %}
                        {{ tag.nom }}
                        {% if not loop.last %}
                            -
                        {% endif %}
                        {% endfor %}
                        </p>
                        <div class="more-content">
                            <i class="fas fa-chair">{{ etablissement[0].placesTotales - etablissement.placesDemandees }}/{{ etablissement[0].placesTotales }}</i>
                            <i class="fas fa-book-open"> {{ etablissement[0].reservationPossible ? 'Accepte les réservations' : 'N\'accepte pas les réservations' }}</i>
                        </div>
                        <i class="fas fa-map-marker-alt"> {{etablissement[0].adresseLigne1}} {{etablissement[0].codePostal}} {{etablissement[0].ville}}  </i>
                    </div>
                </div>
                {% set i=i+1 %}

            {% endfor %}




        </div>
    </div>

    <h1>Etablissements index</h1>
    {#
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>PlacesTotales</th>
                <th>ReservationPossible</th>
                <th>AdresseLigne1</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etablissement in etablissements %}
            <tr>
                <td>{{ etablissement.id }}</td>
                <td>{{ etablissement.nom }}</td>
                <td>{{ etablissement.description }}</td>
                <td>{{ etablissement.placesTotales }}</td>
                <td>{{ etablissement.reservationPossible ? 'Yes' : 'No' }}</td>
                <td>{{ etablissement.adresseLigne1 }}</td>
                <td>{{ etablissement.codePostal }}</td>
                <td>{{ etablissement.ville }}</td>
                <td>
                    <a href="{{ path('etablissements_show', {'id': etablissement.id}) }}">show</a>
                    <a href="{{ path('etablissements_edit', {'id': etablissement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    #}

    <a href="{{ path('etablissements_new') }}">Create new</a>
{% endblock %}
