{% extends 'base.html.twig' %}

{% block title %}New Etablissements{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
    <h1>Create new Etablissements</h1>

    {{ include('etablissements/_form.html.twig') }}

    <a href="{{ path('etablissements_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel="script" src="{{ asset('assets/js/etablissement_prototype.js') }}"></script>
{% endblock %}
