

{% block body %}

    <h1>Etablissements paginés</h1>
    <h2>Page {{ page }} sur {{ (total/nb_elements)|round(0, 'ceil') }}</h2>
    <ul>
        {% for pagine in affichage %}
            <li> {{ pagine.id}} - {{ pagine.nom }}</li>
        {% endfor %}
    </ul>

    {% if  page-1 != 0 %}
        <a href="{{ path('pagination', {'elements' : nb_elements, 'page' : page-1}) }}">Precedent</a>
    {% endif %}

    {% for i in 1..(total/nb_elements)|round(0, 'ceil') %}
        <a href="{{ path('pagination', {'elements' : nb_elements, 'page' : i}) }}">{{ i }}</a>
    {% endfor %}

    {% if  page != (total/nb_elements)|round(0, 'ceil') %}
    <a href="{{ path('pagination', {'elements' : nb_elements, 'page' : page+1}) }}">Suivant</a>
    {% endif %}

{% endblock %}