{% extends 'base.html.twig' %}

{% block title %}Etablissements{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/js/jquery-ui-1.13.0.custom/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/time_picker/jquery.timepicker.css') }}">
{% endblock %}

{% block javascripts_head %}

{% endblock %}

{% block body %}

    {{ dump(etablissement.reservations.getValues) }}

    <div class="full-content">
        <div class="resto-img-1">
            <img src="{{ asset('assets/images/site/card-1.jpg') }}" alt="ah ben ç'a marche pas">
            <h1>{{ etablissement.nom }}</h1>
        </div>

        <div class="menu">
            <a href="assets/menu.pdf" target="_blank"><i class="fas fa-book-open"></i></a>
            <p>Carte</p>
        </div>
        <div class="story-information">
            <div class="story">
                <h3>{{ etablissement.nom }}</h3>
                <p>{{etablissement.description}}</p>
            </div>
            <div class="information-map">
                <div class="map"></div>
                <div class="information"></div>
            </div>
            <div class="reservation_form" style="width: 25%; ">
                <h1>Create new Reservations</h1>

                {{ include('reservations/_form.html.twig') }}

                <a href="{{ path('reservations_index') }}">back to list</a>
            </div>
        </div>

        <div class="galery">
            <ul>
                {% for image in etablissement.images %}
                <li>
                    <img src="{{ asset('uploads/imagesResto/'~image.uniqId) }}" alt="ça marche ou ça marche pas">
                </li>
                {% endfor %}
                <li>
                    <a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" data-fancybox data-fancybox="gallery" data-caption="A Toyota Previa covered in graffiti">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" alt="A Toyota Previa covered in graffiti" loading="lazy">
                    </a>
                </li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg" data-fancybox data-fancybox="gallery" data-caption="Interesting living room light through a window">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg" alt="Interesting living room light through a window" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05513_gfbiwi.jpg" data-fancybox data-caption="Sara on a red bike">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05513_gfbiwi.jpg" alt="Sara on a red bike" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05588_nb0dma.jpg" data-fancybox data-caption="XOXO venue in between talks">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05588_nb0dma.jpg" alt="XOXO venue in between talks" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05459_ziuomy.jpg" data-fancybox data-caption="Trees lit by green light during dusk">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05459_ziuomy.jpg" alt="Trees lit by green light during dusk" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05586_oj8jfo.jpg" data-fancybox data-caption="Portrait of Justin Pervorse">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05586_oj8jfo.jpg" alt="Portrait of Justin Pervorse" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05465_dtkwef.jpg" data-fancybox data-caption="Empty bike racks outside a hotel">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05465_dtkwef.jpg" alt="Empty bike racks outside a hotel" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05626_ytsf3j.jpg" data-fancybox data-caption="Heavy rain on an intersection">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05626_ytsf3j.jpg" alt="Heavy rain on an intersection" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05449_l9kukz.jpg" data-fancybox data-caption="Payam Rajabi eating peanut chicken">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05449_l9kukz.jpg" alt="Payam Rajabi eating peanut chicken" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05544_aczrb9.jpg" data-fancybox data-caption="Portland skyline sunset">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05544_aczrb9.jpg" alt="Portland skyline sunset" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05447_mvffor.jpg" data-fancybox data-caption="Interior at Nong's">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05447_mvffor.jpg" alt="Interior at Nong's" loading="lazy">
                    </a></li>
                <li>
                    <a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" data-fancybox data-fancybox="gallery" data-caption="A Toyota Previa covered in graffiti">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" alt="A Toyota Previa covered in graffiti" loading="lazy">
                    </a>
                </li>

                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05513_gfbiwi.jpg" data-fancybox data-caption="Sara on a red bike">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05513_gfbiwi.jpg" alt="Sara on a red bike" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05588_nb0dma.jpg" data-fancybox data-caption="XOXO venue in between talks">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05588_nb0dma.jpg" alt="XOXO venue in between talks" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05459_ziuomy.jpg" data-fancybox data-caption="Trees lit by green light during dusk">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05459_ziuomy.jpg" alt="Trees lit by green light during dusk" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05586_oj8jfo.jpg" data-fancybox data-caption="Portrait of Justin Pervorse">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05586_oj8jfo.jpg" alt="Portrait of Justin Pervorse" loading="lazy">
                    </a></li>

                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05626_ytsf3j.jpg" data-fancybox data-caption="Heavy rain on an intersection">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05626_ytsf3j.jpg" alt="Heavy rain on an intersection" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05449_l9kukz.jpg" data-fancybox data-caption="Payam Rajabi eating peanut chicken">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05449_l9kukz.jpg" alt="Payam Rajabi eating peanut chicken" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05544_aczrb9.jpg" data-fancybox data-caption="Portland skyline sunset">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05544_aczrb9.jpg" alt="Portland skyline sunset" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05447_mvffor.jpg" data-fancybox data-caption="Interior at Nong's">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05447_mvffor.jpg" alt="Interior at Nong's" loading="lazy">
                    </a></li>
                <li>
                    <a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" data-fancybox data-fancybox="gallery" data-caption="A Toyota Previa covered in graffiti">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" alt="A Toyota Previa covered in graffiti" loading="lazy">
                    </a>
                </li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg" data-fancybox data-fancybox="gallery" data-caption="Interesting living room light through a window">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg" alt="Interesting living room light through a window" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05513_gfbiwi.jpg" data-fancybox data-caption="Sara on a red bike">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05513_gfbiwi.jpg" alt="Sara on a red bike" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05588_nb0dma.jpg" data-fancybox data-caption="XOXO venue in between talks">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05588_nb0dma.jpg" alt="XOXO venue in between talks" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05459_ziuomy.jpg" data-fancybox data-caption="Trees lit by green light during dusk">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05459_ziuomy.jpg" alt="Trees lit by green light during dusk" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05586_oj8jfo.jpg" data-fancybox data-caption="Portrait of Justin Pervorse">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05586_oj8jfo.jpg" alt="Portrait of Justin Pervorse" loading="lazy">
                    </a></li>

                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05626_ytsf3j.jpg" data-fancybox data-caption="Heavy rain on an intersection">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05626_ytsf3j.jpg" alt="Heavy rain on an intersection" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05449_l9kukz.jpg" data-fancybox data-caption="Payam Rajabi eating peanut chicken">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05449_l9kukz.jpg" alt="Payam Rajabi eating peanut chicken" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05544_aczrb9.jpg" data-fancybox data-caption="Portland skyline sunset">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05544_aczrb9.jpg" alt="Portland skyline sunset" loading="lazy">
                    </a></li>
                <li><a href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05447_mvffor.jpg" data-fancybox data-caption="Interior at Nong's">
                        <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05447_mvffor.jpg" alt="Interior at Nong's" loading="lazy">
                    </a></li>

                <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
                <li></li>
            </ul>
        </div>
    </div>

    <h1>Etablissements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etablissement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etablissement.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ etablissement.description }}</td>
            </tr>
            <tr>
                <th>PlacesTotales</th>
                <td>{{ etablissement.placesTotales }}</td>
            </tr>
            <tr>
                <th>ReservationPossible</th>
                <td>{{ etablissement.reservationPossible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AdresseLigne1</th>
                <td>{{ etablissement.adresseLigne1 }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ etablissement.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ etablissement.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etablissements_index') }}">back to list</a>

    <a href="{{ path('etablissements_edit', {'id': etablissement.id}) }}">edit</a>

    {{ include('etablissements/_delete_form.html.twig') }}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel="script" src="{{ asset('assets/js/jquery-ui-1.13.0.custom/jquery-ui.js') }}"></script>
    <script rel="script" src="{{ asset('assets/js/time_picker/jquery.timepicker.js') }}"></script>
    <script rel="script">
        console.log('test');
        $( "#reservations_horaireDemande_date" ).datepicker({
            dateFormat: "yy-mm-dd",
        });
        $( "#reservations_horaireDemande_time" ).timepicker({
            timeFormat: 'HH:mm',
            defaultTime: '08',
            minTime: '08:00',
            maxTime: '22:00',
        });
    </script>
{% endblock %}