<footer>
    <div class="mention">
        <p>Politique de confidentialité</p>
        <p>Conditions</p>
        <p>Conditions d'utilisation</p>
    </div>
    <div class="logo-footer">
        <img src="assets/logo.png" alt="Logo entreprise">
        <h3>C'est ma place</h3>
    </div>
    <div class="social">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter-square"></i>
    </div>
</footer>