    <div class="header">
        <i class="fas fa-bars"></i>
        <div class="logo">
            <img src="{{ asset('assets/images/site/logo.png') }}" alt="Logo entreprise">
            <h1>C'est ma place</h1>
        </div>
    </div>
